.hometopbar{
    width: 100vw;
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vW;
        padding: 20px;
        .show{
            width: 50vw;
            
        }

    }
}